subject = [PTO] Someone has requested PTO
==

Welp, {{ user.display_name }} just requested some PTO.

Here's the dates:

Start Date: {{ date_start }}

End Date: {{ date_end }}

==

<p>Welp, {{ user.display_name }} just requested some PTO.</p>

<p>Here's the dates:</p>

<p>
    <b>Start Date:</b> {{ date_start }} <br />
    <b>End Date:</b> {{ date_end }}
</p>
